html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
 }

 *,
 *::before,
 *::after {
   -webkit-box-sizing: inherit;
           box-sizing: inherit;
 }

 a {
   color:inherit;
   text-decoration: none;
 }

 img {
   max-width: 100%;
 }

 svg:focus {
   outline: none;
 }

 @font-face {
  font-family: 'Montserrat';
  src: local("Monserrat"),
    url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Monserrat"),
       url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Monserrat"),
       url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Monserrat"),
       url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Monserrat"),
       url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  background-color: rgb(192, 47, 47);
  color: var(--main-color);
}

rect,
path,
circle,
ellipse {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
/*задано для определение параметров транзишин через класс svg*/

/* Variables */

:root {
  --main-color: #333;
  --color-dark-bcg: #fff;
  --footer-color:#CACACA;
  --footer-form-bcg: #666;
  --default-color: #FF9900;
  --active-color: #E1670E;
  --bcg-color-main: #fff;
  --footer-bcg-color: #222;
  /* --footer__form_bcg: #414141; */
  --sity-max-width: calc(1920px - 110px);
  }

/* global */

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visually-hidden {
  /*display: none;*/
  position:absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  background-color: var(--bcg-color-main);
  padding-bottom: 100px;
}

.deskop {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.section {
  padding: 0 0 102px 0;
}

.section:last-child {
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  /* min-width: 100%; */
  max-width: var(--sity-max-width);
}

.link-reset {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-size: inherit;
  list-style: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.btn {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
  border: none;
  -webkit-transition: background-color .3s ease,
            width .3s ease,
            border .3s ease;
  -o-transition: background-color .3s ease,
            width .3s ease,
            border .3s ease;
  transition: background-color .3s ease,
            width .3s ease,
            border .3s ease;
}

.icon {
  -webkit-transition: outline-width 0.2s ease;
  -o-transition: outline-width 0.2s ease;
  transition: outline-width 0.2s ease;
}

.icon__svg {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;}

.title {
  margin: 0;
  font-size: 48px;
  line-height: 60px;
  font-weight: normal;
}

.block {
  max-width: calc((100% - 32px) / 2);
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 32px;
}

.block:last-child {
  margin-right: 0px;
}

.block__text {
margin: 0 0 53px 0;
padding-right: 110px;
}

.card {
  padding: 64px 60px 64px 60px;
  max-width: 870px;
  /*flex-wrap: wrap;*/
  border: 1px solid var(--footer-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card:not(:last-child) {
  margin-bottom: 32px;
}

.card__content {
  max-width: 62%;
}

.card__img {
  margin-right: 49px;
  width: 190px;
  height: 165px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card__title,
.block__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin: 0 0 8px 0;
}

.card__text {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/*UI-kid*/

.header__logo:focus-visible,
.footer__logo:focus-visible,
.search-form__input:focus-within,
.search-form__input:focus-visible{
  outline: 2px solid var(--default-color);
}

.btn:focus-within,
.btn:focus-visible {
  outline: none;
}

.icon:hover rect,
.search-form__btn-close:hover rect {
  fill: var(--default-color);
}
.icon:hover path,
.icon:hover circle,
.search-form__btn-close:hover circle {
  stroke: var(--default-color);
}

/* .icon:focus svg, */
.icon:focus-visible svg,
.search-form__btn-close:focus svg,
.search-form__btn-close:focus-visible svg {
  outline: 2px solid var(--default-color);
  outline-offset: 4px;
}

.search-form__btn-close:active svg {
  outline: none;
}

.search-form__btn-close:active rect {
  fill: var(--main-color);
}
.search-form__btn-close:active circle{
  stroke: var(--main-color);
}

.nav-menu__link:hover,
.footer__menu-link:hover {
  border-bottom: 2px solid var(--default-color);
}

.nav-menu__link:focus,
.nav-menu__link:focus-visible,
.footer__menu-link:focus,
.footer__menu-link:focus-visible {
  outline: 2px solid var(--default-color);
}

.nav-menu__items:active,
.footer__menu-link:active {
  border-bottom: 2px solid var(--active-color);
  color: var(--active-color);
}

.nav-menu__items:active .nav-menu__link:focus,
.nav-menu__items:active .nav-menu__link:focus-visible
.nav-menu__items:active .nav-menu__link:hover {
 outline: none;
 border: none;
}

.burger__btn:focus-visible svg,
.burger__btn:hover svg {
  outline: 2px solid var(--default-color);
  outline-offset: 5px;
}

.burger__btn:active rect {
  fill: var(--active-color);
}

.burger__btn:active .burger__rect-2 {
  width: 25px;
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.burger__btn:active .burger__rect-3 {
  width: 18px;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.social__icon:hover path {
  fill: var(--default-color);
}

.social__link:focus,
.social__link:focus-visible {
  outline: 2px solid var(--default-color);
}

.social__icon:active path {
  outline: none;
  fill: var(--active-color);
}

.bullity-cont__bullit:hover circle,
.bullity-cont__bullit:focus-visible circle,
.bullity-cont__bullit:focus circle {
  opacity: 1;
}

.how-work__step-btn:hover {
  color: var(--default-color);
}

.how-work__step-btn:focus-visible {
  color: var(--main-color);
  outline: 2px solid var(--default-color);
}

.how-work__step-btn:active {
  color: var(--active-color);
  outline:none;
}

.how-work__btn-2:hover,
.how-work__btn-2:focus,
.how-work__btn-2:focus-visible {
  outline: none;
  color: var(--color-dark-bcg);
  background-color: var(--footer-form-bcg);
  border-color: var(--footer-form-bcg);
}

.how-work__btn-2:active {
  color: var(--color-dark-bcg);
  background-color: var(--main-color);
  border-color: var(--footer-form-bcg);
}

.form__field:hover,
.form__field:active,
.form__field:focus,
.form__field:focus-visible,
.form__field:checked {
  background-color: var(--footer-form-bcg);
  outline: none;
}

.form__field:focus-within {
  color: var(--color-dark-bcg);
}

.btn-type-1:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.btn-type-1:focus,
.btn-type-1:focus-visible {
  outline: none;
  background-color: rgba(255, 153, 0, 0.7);
}

.btn-type-1:active {
  background-color: var(--active-color);
}

.block__inner-btn:hover {
  background-color: var(--default-color);
}

.block__inner-btn:focus,
.block__inner-btn:focus-visible {
  outline: none;
  background-color: var(--default-color);
}

.block__inner-btn:active {
  border-color: var(--active-color);
  background-color: var(--active-color);
}

.faq__item:hover .faq__btn > .faq__icon path,
.faq__item:focus .faq__btn > .faq__icon path,
.faq__item:focus-visible .faq__btn > .faq__icon path,
.faq__item:focus-within .faq__btn > .faq__icon path,
.faq__btn:focus-visible .faq__icon > path {
  fill: var(--bcg-color-main);
}

.faq__item:hover .faq__btn > .faq__icon ellipse,
.faq__item:focus .faq__btn > .faq__icon ellipse,
.faq__item:focus-visible .faq__btn > .faq__icon ellipse,
.faq__item:focus-within .faq__btn > .faq__icon ellipse,
.faq__btn:focus-visible .faq__icon > ellipse {
  fill: var(--default-color);
}

.faq__btn:focus-visible,
.faq__btn:focus {
  outline: none;
}

.faq__item:active .faq__btn,
.faq__btn:active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg)
}

.faq__item:hover .faq__item,
.faq__item:focus .faq__item,
.faq__item:focus-visible .faq__item{
  border-color: var(--default-color);
}

.faq__text:focus-visible,
.faq__text:focus {
  outline: none;
}

.faq__item:hover,
.faq__item:focus-visible,
.faq__item:focus-within {
  border-color: var(--active-color);
}

.faq__item:hover + .faq__item,
.faq__item:focus + .faq__item,
.faq__item:focus-visible + .faq__item,
.faq__item:focus-within + .faq__item {
 border-top-color:rgba(0, 0, 0, 0);
}

.faq__item:hover + .faq__item:last-child,
.faq__item:focus + .faq__item:last-child,
.faq__item:focus-visible + .faq__item:last-child,
.faq__item:focus-within + .faq__item:last-child {
  border-bottom-color: var(--footer-color);
}


.faq__item:last-child:hover,
.faq__item:last-child:focus,
.faq__item:last-child:focus-visible,
.faq__item:last-child:focus-within {
  border-bottom: 1px solid var(--default-color);
  border-color: var(--default-color);
}



.checkbox__flag:hover,
.checkbox__input:focus + .checkbox__flag,
.checkbox__input:focus-visible + .checkbox__flag {
  outline: 1px solid var(--default-color);
}

/* Header - Шапка */

.header {
  /*для сохранения тени при заданном bcg ниже лежащим элементам*/
  position: relative;
  z-index: 50;
  -webkit-box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  background-color: var(--bcg-color-main);
}

.header__container {
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: auto;
  max-width: 224px;
  max-height: 72px;
  -webkit-transition: outline-color, .3s ease-out;
  -o-transition: outline-color, .3s ease-out;
  transition: outline-color, .3s ease-out;
}

.nav-menu {
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.nav-menu__items {
  margin-right: 85px;
  -webkit-transition: border .3s ease-out;
  -o-transition: border .3s ease-out;
  transition: border .3s ease-out;
}

.nav-menu__link {
  -webkit-transition: border .3s ease-out,
    color .3s ease,
    outline-width .3s ease-out;
  -o-transition: border .3s ease-out,
    color .3s ease,
    outline-width .3s ease-out;
  transition: border .3s ease-out,
    color .3s ease,
    outline-width .3s ease-out;
}

.header__search-icon {
  width: 24px;
  height: 24px;
}

.search-icon {
  -webkit-filter: drop-shadow(0px 2px 1px rgba(255, 255, 255, 0.6))
          drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 1px rgba(255, 255, 255, 0.6))
          drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.search-icon path {
  fill: #fff;
  fill-opacity: 1;
}

.search-form {
  visibility: hidden;
  /* для скрытия элемента переписаны в activate-block*/
  overflow: hidden;
  width: 1px;
  padding: 0;
  /*  */
  position: absolute;
  right: 15px;
  top: calc((100% - 60px)/2);
  z-index: 1;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: visibility .7s ease-in-out, -webkit-transform .7s ease-out;
  transition: visibility .7s ease-in-out, -webkit-transform .7s ease-out;
  -o-transition: transform .7s ease-out, visibility .7s ease-in-out;
  transition: transform .7s ease-out, visibility .7s ease-in-out;
  transition: transform .7s ease-out, visibility .7s ease-in-out, -webkit-transform .7s ease-out;
}

.search-form__input {
  padding: 0px;
  margin-right: 14px;
  width: 412px;
  border: none;
  border-bottom: 1px solid #DCDCDC;
}

.search-form__btn {
  border:none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  width: 24px;
  height: 24px;
}

.search-form__btn-enter {
  margin-right: 20px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.search-form__btn-close svg {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.search-icon_color rect {
  fill: var(--default-color);
}

.search-icon_color path {
  stroke: var(--default-color);
}



.header__burger-btn {
  display: none;
}

.header__search-input:focus-visible,
.header__search-input:focus-within,
.header__search-input:focus {
  outline: none;
}

/* burger */

/*Остальное см в медиа 1024px*/

.burger__close-btn {
  display: none;
  margin-bottom: 100px;
}

/*.burger__item {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.burger__item:not(:last-child) {
  margin-bottom: 60px;
}*/

/*hero*/

.hero {
  padding-left: 20px;
  padding-right: 20px;
}
/*Задаю паддинг section - иначе без вложения
контейнера в еще один див (что лишняя вложенность)
не получится сдалать отсуп бэкраунда контейнера
в соответствии с макетом - bg растягивается в том числе и на паддинг заданный контейнеру*/

.hero__container {
  /*position: relative;*/
  /*через бефоре хотел реализовать слайдер*/
  min-height: 620px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  max-width: 1770px;
  /*из-за задания паддингов section*/
  /* padding-top: 104px;
  padding-bottom: 30px; */
  color: var(--color-dark-bcg);
}

.hero__content {
  padding-top: 104px;
  padding-left: 80px;
  padding-bottom: 113px;
  position:absolute;
  top:0;
  left:0;
  pointer-events: none;
  z-index:5;
  max-width: 55%;
}

.hero__title {
  margin: 0 0 24px 0;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
}

.hero__text {
  margin: 0 0 87px 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hero__btn {
  width: 280px;
  height: 65.5px;
  text-align: center;
  background-color: var(--default-color);
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.hero__bullity {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 0;
  font-size: 0;
}

.bullity-cont__bullit {
  display:inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  opacity: 0.4;
  border-radius: 50%;
  /* свойства выше прписаны для  случая когда кнопка пагинации в свайпере генерируется по умолчанию а не через renderBullet*/
  cursor: pointer;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.bullity-cont__bullit:not(:last-child){
  margin-right: 20px;
}

/* swiper */

.swiper-slide {
  min-height: 620px;
  background-color: rgba(225, 225, 225, 0.8);
  line-height: 0;
  font-size: 0;
  overflow:hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-slide-1 {
  background-image: url(../img/hero__pic-1_1920-1770px-2x.jpg);
}

.swiper-slide-2 {
  background-image: url(../img/hero__pic-2_1920-1770px-2x.jpg);
}

.swiper-slide-3 {
  background-image: url(../img/hero__pic-3_1920-1770px-2x.jpg);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}

/*обращение сохранено для условия если генерировать в свайпере кнопку пагинации  */
/* .swiper-pagination-active circle {
  fill-opacity: 1;
} */

.swiper-pagination-active {
  opacity: 1;
}


/*Adout - О Нас*/

.about__title {
  margin-bottom: 18px;
}

.about__text {
  margin: 0 0 50px 0;
  max-width: 70%;
}

/*Свойства block в global*/

.about__block-left {
  background-image: url("../img/About_block.jpg");
}

.block__inner {
  position: relative;
  margin-top: auto;
  padding: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-dark-bcg);
}

.block__inner::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 100%;
  min-width: calc(100% - 0px);
  background-color:#000;
  opacity: 50%;
}

.block__inner-text {
  max-width: 59%;
  /*margin: 0 138px 0 0;*/
  z-index: 1;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-weight: 700;
}

.block__inner-btn {
  padding: 16px 36px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1;
  word-wrap: break-word;
  border: 3px solid var(--default-color);
  font-weight: bold;
  line-height: 20px;
}

/*Свойства card в global*/

.card__img-1 {
  background-image: url("../img/about__img-1.svg");
}

.card__img-2 {
  background-image: url("../img/about__img-2.svg");
}

/*how-work - как работаем*/

.how-work__container {
  position: relative;
}

.how-work__title {
  margin-bottom: 41px;
}

.how-work__label {
  display: inline-block;
  margin-bottom: 48px;
  line-height: 22px;
}

.how-work__label:not(:last-child) {
  margin-right: 87px;
}

.how-work__step-btn {
  -webkit-transition: color .2s ease,
    outline-width .3s ease-out;
  -o-transition: color .2s ease,
    outline-width .3s ease-out;
  transition: color .2s ease,
    outline-width .3s ease-out;
}

.how-work__step-btn-active {
  color: var(--default-color);
  outline: none;
}

.how-work__wrapper {
  display: none;
  min-width: 100%;
  min-height: 460px;
}

.how-work__step-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-work__block-left {
  padding-bottom: 57px;
}

.how-work__wrapper-btn {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.how-work__btn {
  padding: 20px 38px;
}

.how-work__btn:not(:last-child){
  margin-right: 32px;
}

.how-work__btn-1 {
  font-weight: 700;
  color: var(--color-dark-bcg);
  background-color: var(--default-color);
}

.how-work__btn-2 {
  border: 1px solid var(--main-color)
}

.how-work__block-img-step-1 {
  background-image: url(../img/hw_step1.jpg);
}

.how-work__block-img-step-2 {
  background-image: url(../img/hw_step2.jpg);
}

.how-work__block-img-step-3 {
  background-image: url(../img/hw_step3.jpg);
}

.how-work__block-img-step-4 {
  background-image: url(../img/hw_step4.jpg);
}

/* FAQ */

.faq__title {
  margin-bottom: 40px;
}

.faq__item {
  /* position:relative; */
  /* Accord 2 - Позишин нужен для изменения положения иконки по умолчанию*/
  /* justify-content: space-between; */
  /* padding: 40px 50px 40px; */
  min-width: 100%;
  /* align-items: center; */
  border-top: 1px solid var(--footer-color);
  border-bottom:1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.faq__item:last-child {
  border-color: var(--footer-color);
}

.faq__text{
  /* display: block; */
  /* max-width: 84%; */
  position: relative;
  margin: 0;
  padding: 40px 50px 40px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.faq__answer {
  max-width: 63%;
}

/* .faq__btn {
  flex-shrink: 0;
} */


.faq__icon {
  max-width: 50px;
  max-height: 50px;
}

/* accordion */
/* для варианта 1 */
/* .ac {
  margin:0;
  border-right: none;
  border-left: none;

}

.ac .ac-trigger{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font: inherit;
} */

/* для вариант 2 */

.ui-icon {
  position: absolute;
  left: calc(100% - 35px);
  top: 30px;
}

.ui-state-active .faq__icon {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*footer*/

.footer {
  background-color: var(--footer-bcg-color);
  color: var(--footer-color);
  margin: 0 auto;
}

.footer__container {
  padding: 50px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.footer__column:not(:last-child) {
  margin-right: 15px;
}

.footer__column-1 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.footer__column-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-left: 12px;
  height:auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__column-3 {
  max-width: 365px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__logo {
  margin-bottom: 20px;
  max-width: 224px;
  max-height: 72px;
  -webkit-transition: outline-color, .3s ease-out;
  -o-transition: outline-color, .3s ease-out;
  transition: outline-color, .3s ease-out;
}

.footer__nav-menu {
  margin-bottom: 90px;
  font-size: 18px;
  line-height: 36px;
}

.footer__menu-link {
  -webkit-transition: outline-color, .3s ease-out;
  -o-transition: outline-color, .3s ease-out;
  transition: outline-color, .3s ease-out;
}

.social__link {
  width: 60px;
  height: 60px;
  -webkit-transition: outline-color, .3s ease-out;
  -o-transition: outline-color, .3s ease-out;
  transition: outline-color, .3s ease-out;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.form__title {
  margin-bottom: 20px;
}

.form__field {
  max-width: 570px;
  width: 100%;
  padding: 14px 24px;
  line-height: 32px;
  border: none;
  background-color: var(--footer-form-bcg);
  color: var(--footer-color);
  -webkit-transition: background-color .3s ease,
    color .3s ease;
  -o-transition: background-color .3s ease,
    color .3s ease;
  transition: background-color .3s ease,
    color .3s ease;
}

.form__field {
  margin-bottom: 25px;
}

.form__field-textarea {
  margin-bottom: 35px;
  min-height: 150px;
  resize: none;
}

.form__btn {
  padding: 19px 52px;
  font-weight: 700;
  color: var(--color-dark-bcg);
  background-color: var(--default-color);
  margin-right: 20px;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.checkbox__flag {
  display: block;
  margin-right: 5px;
  width: 13px;
  height: 13px;
  border: 1px solid var(--footer-color);
}

.checkbox__input:checked + .checkbox__flag {
  background-image: url(../img/chekbox__flag-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer__text {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

/*Adaptiv*/

@media (min-width: 1921px) {
  .hero__container {
    max-width: 1770px;
  }
  .search-form {
    right: calc((100% - 1770px)/2);
    -webkit-transform:scale(0);
        -ms-transform:scale(0);
            transform:scale(0);
  }

}

@media (max-width: 1665px) {

/*hero*/
.hero__content {
max-width: 70%
}
}

@media (max-width: 1342px) {

/*hero*/
.hero__content {
max-width: 80%
}
}

@media (max-width: 1240px) {

/*global*/
.section {
padding-bottom: 82px;
}

/*hero*/

.hero__content {
padding-top: 160px;
padding-left: 77px;
padding-bottom: 160px;
}

.hero__title {
margin-bottom: 16px;
font-size: 60px;
}

.hero__text {
margin-bottom: 60px;
font-size: 20px;
}

.footer__container {
padding: 50px;
}


/*about*/
.about__wrapper {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

.about__block {
max-width: 100%;
margin-right: 0;
}

.about__block-left {
height: 640px;
margin-bottom: 32px;
}

.block__inner::before{
left: 4px;
min-width: calc(100% - 8px);
}

.about__card {
max-width: 100%;
padding-left: 77px;
padding-right: 77px;
}

/*footer*/
.footer__column {
-webkit-box-flex: 0;
    -ms-flex-positive: 0;
        flex-grow: 0;
}

.footer__column-3 {
display: none;
}
}

@media (max-width: 1024px) {
/* global */

:root {
--sity-max-width: calc(1024px - 62px);
}

.main {
padding-bottom: 79px;
}

.block__text {
margin-bottom: 27px;
padding-right: 20px;
}

/*header*/
.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}

.header__logo {
margin-right:0;
-ms-grid-column-align: center;
    justify-self: center;
max-width: 162px;
max-height: 48px;
}

/*burger*/

.header__burger-btn {
  display: block;
}

.burger__close-btn {
  display: block;
}

.header__nav-menu-wrapper {
  visibility: hidden;
  position: absolute;
  top:0;
  left:-420px;
  z-index:100;
  width: 420px;
  padding: 39px 106px 0 50px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  /*transform: translateX(-100%);*/
  -webkit-transition: visibility 0.8s ease-in-out, -webkit-transform 0.7s ease-in-out;
  transition: visibility 0.8s ease-in-out, -webkit-transform 0.7s ease-in-out;
  -o-transition: transform 0.7s ease-in-out, visibility 0.8s ease-in-out;
  transition: transform 0.7s ease-in-out, visibility 0.8s ease-in-out;
  transition: transform 0.7s ease-in-out, visibility 0.8s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.header__nav-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-menu__items {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.nav-menu__items:not(:last-child) {
  margin-bottom: 60px;
}

/* hero */
.hero {
padding-left: 20px;
padding-right: 20px;
}

.hero__container {
  max-width: 924px;
}

.swiper-slide-1 {
  background-image: url("../img/hero__pic-1_1024-924px-2x.jpg");
}

.hero__content {
max-width: 90%
}

.hero__title {
line-height: 77px;
margin-bottom: 9px;
}

.hero__text {
line-height: 25px;
margin-bottom: 58px;
}

.hero__btn {
height: 77px;
}

/*about*/
.about__block-left {
background-image: url("../img/about_block1024px.jpg");
}

.about__title {
margin-bottom: 7px;
}

.about__text {
max-width: 100%;
margin-bottom: 62px;
}

.block__inner::before{
  left: 0;
  min-width: 100%;
}

/*how-work */
.how-work__title {
  margin-bottom: 42px;
}

.how-work__label {
margin-bottom: 54px;
}

.how-work__block-left {
margin-right: 40px;
}

.how-work__block-img {
margin-top: 10px;
}

.how-work__btn:not(:last-child) {
margin-right: 30px;
}

/* FAQ */
.faq__title {
margin-bottom: 30px;
}

.faq__text {
font-size: 20px;
line-height: 34px;
}

/*footer*/
.form__btn {
margin-bottom: 11px;
}

.footer__column-2:not(:last-child) {
margin-right: 0px;
}

.footer__container {
padding: 50px 20px;
}

.form__title {
  margin-bottom: 22px;
}

.form__field-textarea {
  margin-bottom: 33px;
}

.form__btn {
  padding: 20px 37px;
}
}

@media (max-width: 840px) {

/*global*/

:root {
--sity-max-width: calc(768px - 62px);
}

.main {
padding-bottom: 80px;
}

.block {
margin-right: 0;
max-width: 100%;
}

.block__text {
margin-bottom: 29px;
padding-right: 0;
}

.card {
padding-top: 35px;
padding-bottom: 34px;
padding-left: 38px;
}

.card__img {
margin-right: 15px;
width: 114px;
height: 96px;
-ms-flex-negative: 0;
    flex-shrink: 0;
}

.card__content {
max-width: 90%;
}

/*header*/
.header__container {
padding-top: 10px;
padding-bottom: 10px;
}

.search-form {
  max-width: 80%;
  height: 100%;
  top:0;
  border-radius: 0;
}

/*hero*/
.hero__container {
  max-width: 668px;
}

.hero__content {
padding-left: 40px;
padding-right: 40px;
max-width: 100%;
}

.hero__title {
font-size: 50px;
line-height: 64px;
margin-bottom: 13px;
}

.hero__text {
font-size: 18px;
line-height: 22px;
}

.hero__btn {
height: 79px;
}

/*about*/
.about__block-left {
height: 646px;
}

.block__inner {
padding: 33px 40px;
}

.block__inner-text {
max-width: 65%;
}

.about__card {
padding-right: 20px;
}

/*how-work*/
.how-work__title {
margin-bottom: 46px;
}

.how-work__btn-box {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.how-work__label {
margin-bottom: 40px;
}

.how-work__label:not(:last-child) {
margin-right: 10px;
}

.how-work__wrapper {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

.how-work__block-img {
min-height: 284px;
-webkit-box-ordinal-group:  0;
    -ms-flex-order:  -1;
        order:  -1;
margin-bottom: 40px;
}

/* faq */

.faq__title {
  margin-bottom: 27px;
  }

.faq__text {
/* max-width: 86%; */
line-height: 34px;
}

/*footer*/
.footer__container {
  padding-top:52px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__nav-menu-wrapper {
  display: none;
}

.footer__column-2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-bottom: 38px;
  padding-left: 0;
}

.form__field {
  max-width: 540px;
}

.form__btn {
  margin-right: 19px;
  padding: 19px 37px;
}

.footer__logo {
  margin-bottom: 17px;
  max-width: 227px;
}

}

@media (max-width: 680px) {
/*global*/

body {
font-size: 14px;
line-height: 28px;
}

:root {
--sity-max-width: calc(450px);
}
.main {
padding-bottom: 60px;
}

.section {
padding-bottom: 63px;
}

.container {
padding-right: 15px;
padding-left: 15px;
}

.title {
font-size: 24px;
line-height: 29px;
font-weight: 400;
}

.block__title {
font-size: 18px;
line-height: 32px;
font-weight: 500;
}

.block__text {
margin-bottom: 14px;
}

.block__inner-btn {
border-width: 2px;
padding: 8px 42px;
color: var(--default-color);
font-size: 12px;
}

.card {
padding: 0;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
border: none;
}

.card__img {
margin-bottom: 8px;
width: 64px;
height: 49px;
}

.card__title {
  padding-top: 5px;
  font-weight: 500;
font-size: 18px;
line-height: 22px;
}

.card__text {
line-height: 27px;
}

.card__content {
max-width: 100%;
}

/*UI-kid*/
.block__inner-btn:hover {
color: var(--color-dark-bcg);
}

.block__inner-btn:focus,
.block__inner-btn:focus-visible {
color: var(--color-dark-bcg);
}

.block__inner-btn:active {
color: var(--color-dark-bcg);
}


/*header*/
.header__container {
padding-top: 17px;
padding-bottom: 17px;
}

.header__logo {
width: 110px;
height: 35px;
}

.header__nav-menu-wrapper {
  width: 320px;
  padding: 23px 41px 0 15px;
}

.burger__close-btn {
  margin-bottom: 32px;
}

.nav-menu__items {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.nav-menu__items:not(:last-child) {
  margin-bottom: 32px;
}

.search-form {
  max-width: 100%;
  right:0;
}

/*hero*/

.hero{
padding-right: 15px;
padding-left: 15px;
}

.hero__container {
padding: 0;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 15px;
}

.hero__content {
text-align: center;
padding: 60px 22px;
margin-bottom: 35px;
}

.hero__title {
font-size: 20px;
line-height: 24.38px;
margin-bottom: 6px;
}

.hero__text {
font-size: 12px;
line-height: 15px;
margin-bottom: 32px;
}

.hero__btn {
width: 162px;
height:  40px;
font-size: 12px;
}

.bullity-cont__bullit {
width: 10px;
height: 10px;
}

/*About*/

.about__title {
margin-bottom: 20px;
}

.about__text {
font-size: inherit;
line-height: inherit;
margin-bottom: 12px;
}

.about__block-left {
height: auto;
background-position: top;
background-size: contain;
-webkit-box-flex: 0;
    -ms-flex-positive: 0;
        flex-grow: 0;
}

.block__inner::before {
display: none;
}

.block__inner {
padding: 72% 0 0;
margin-top: 0;
}

.block__inner-text {
max-width: 100%;
margin-bottom: 37px;
font-size: inherit;
font-weight: inherit;
letter-spacing: -0.2px;
color: var(--main-color);
}

.card__img-1 {
background-image: url(../img/about__img-1-320px.svg);
}

.card__img-2 {
background-image: url(../img/about__img-2-320px.svg);
}

/*how-work*/

.how-work__title {
margin-bottom: 23px;
}

.how-work__label {
margin-bottom: 3px;
font-size: 14px;
line-height: 17px;
}

.how-work__block-left {
padding-bottom: 40px;
}

.how-work__wrapper-btn {
width: calc(100% - 40px);
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
font-size: 12px;
line-height: 14px;
}

.how-work__block-img {
min-height: 161px;
margin-bottom: 17px;
}

.how-work__wrapper-btn {
left: 16px;
}

.how-work__btn:not(:last-child) {
margin-right: 9px;
}
.how-work__btn-1 {
padding: 12px 44px;
}

.how-work__btn-2 {
padding: 12px 31px;
}

/*faq*/

.faq__title {
margin-bottom: 14px;
}

/* .faq__item {
  padding: 30px 0;
} */

.faq__text {
font-size: inherit;
font-weight: 500;
line-height: 24px;

}

.faq__icon {
max-width: 30px;
max-height: 30px;
}

.ui-icon{
  top: calc(50% - 15px);
}

/*footer*/
.footer__container {
padding: 32px 15px;
}

.form__title {
margin-bottom: 21px;
}

.form-field {
padding-left: 20px;
padding-right: 20px;
}

.form__field-textarea {
margin-bottom: 25px;
}

.form__btn-box {
text-align: center;
margin: 0;
margin-bottom: 16px;
}

.form__btn {
margin-right: 0;
margin-bottom: 12px;
padding: 13px 28px;
font-size: 12px;
}

.form__chekbox-label {
font-size: 16px;
}

.footer__column-1:not(:last-child) {
margin-right: 0;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.footer__column-2 {
margin-bottom: 16px;
border-bottom: 1px solid #595959;
}

.footer__logo {
margin-bottom: 16px;
max-width: 131px;
max-height: 42px;
}

.social__icon {
width: 40px;
height: 40px;
}

.social__item:not(:last-child) {
margin-right: 16px;
}
}

.activate-burger {
  visibility: visible;
  -webkit-transform: translateX(420px);
      -ms-transform: translateX(420px);
          transform: translateX(420px);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  -o-transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.activate-block {
  width:auto;
  min-width: 320px;
  padding: 16px 13px 16px 32px;
  visibility: visible;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  -o-transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}
